<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="noCodeArtifactPath" value="fr/axa/automation/webengine/webengine-drive-by-excel" />
    <add key="noCodeMavenRepository" value="https://afa-nrepo.azure-paas.intraxa/repository/releases" />
    <add key="runnerDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.4/webengine-drive-by-excel-3.0.4-exec.jar" />
    <add key="commandDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.4/webengine-drive-by-excel-3.0.4-command.yaml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>