<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="noCodeArtifactPath" value="#{noCodeArtifactPath}#" />
    <add key="noCodeMavenRepository" value="#{noCodeMavenRepository}#" />
    <add key="noCodeMavenSnapshotRepository" value="#{noCodeMavenSnapshotRepository}#" />
    <add key="runnerDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.4/webengine-drive-by-excel-3.0.4-exec.jar" />
    <add key="commandDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.4/webengine-drive-by-excel-3.0.4-command.yaml" />
    <add key="mailingList" value="#{mailingList}#" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>