<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="noCodeArtifactPath" value="fr/axa/automation/webengine/webengine-drive-by-excel" />
    <add key="noCodeMavenRepository" value="https://afa-nrepo.azure-paas.intraxa/repository/releases" />
    <add key="runnerDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.3/webengine-drive-by-excel-3.0.3-exec.jar"/>
    <add key="commandDirectLink" value="https://github.com/AxaFrance/webengine-java/releases/download/3.0.3/webengine-drive-by-excel-3.0.3-command.yaml"/>
  </appSettings>
</configuration>
