<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="MSBuild.Microsoft.VisualStudio.Tools.Office.targets" version="15.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="YamlDotNet" version="13.1.0" targetFramework="net472" />
</packages>